@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');

html:not([enable-animation]) * {
     transition: none !important;
}

html:not([enable-light]) {
     --text-color: rgb(255, 255, 255);
     --bg-color: rgb(0, 0, 0);
     --main-bg-color: rgb(44, 44, 44);
     --border-color: rgb(146, 146, 146);
     --input-bg-color: rgb(146, 146, 146);
     --rainbow-color: rgba(252, 236, 215, 0.8);
     --rainbow-button-color: radial-gradient(ellipse at top, #582d2d, transparent), radial-gradient(ellipse at bottom, #24250f, transparent);
     --scrollbar-bg-color: rgb(39, 39, 39);
     --button-select: #006c7a;
     --bg-color-transparent: rgba(0, 0, 0, 0.7);
}

html[enable-light] {
     --text-color: rgb(0, 0, 0);
     --bg-color: rgb(255, 255, 255);
     --main-bg-color: rgb(255, 255, 255);
     --border-color: rgb(0, 0, 0);
     --input-bg-color: rgb(219, 219, 219);
     --rainbow-color: rgb(99 67 24);
     --rainbow-button-color: radial-gradient(ellipse at top, #ff8484, transparent), radial-gradient(ellipse at bottom, #ffffff, transparent);
     --scrollbar-bg-color: rgb(255, 255, 255);
     --button-select: #a9f5ff;
     --bg-color-transparent: rgba(255, 255, 255, 0.5);
}

html {
     background-color: var(--bg-color);
}

[no-overflow] {
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
}

html[enable-animation] .main-text {
     color: var(--rainbow-color);
}

.bg {
     min-width: 100%;
     width: 100%;
     object-fit: cover;
     height: 100%;
     position: fixed;
     transition: all 1s;
     z-index: -1;
}

.no_highlights {
     -webkit-tap-highlight-color: transparent;
     -webkit-touch-callout: none;
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
}

* {
     font-family: "Noto Sans Thai";
     color: var(--text-color);

     scrollbar-color: var(--border-color) var(--scrollbar-bg-color);
     scrollbar-width: thin;

     user-select: none;
}

html:not([enable-animation]) .rainbow-button {
     border: var(--border-color) 2px solid;
}

[enable-animation] .rainbow-button {
     background: var(--rainbow-button-color);
}

*[enable-select] {
     user-select: auto !important;
}

*[hover] {
     transition: 0.2s all;
}

html:not([enable-animation]) *[hover]:hover {
     background: var(--text-color);
     color: var(--bg-color);
}

[enable-animation] *[hover]:hover {
     filter: brightness(1.5);
}

input::-ms-reveal,
input::-ms-clear {
     display: none;
}

.w-100 {
     width: 100%;
}

.text-center {
     text-align: center;
}

.all-center {
     display: flex;
     justify-content: center;
     align-items: center;
}

html[enable-animation] .wave {
     width: 100%;
     height: 5%;
     bottom: 0;
     position: fixed;
     opacity: 0.4;
     background: repeat-x;
     background-image: url('../img/wave.png');
     background-size: 1000px 100%;
}

html:not([enable-animation]) #black_screen {
     display: none;
}

@keyframes SlideWave {
     0% {
          background-position-x: 0px;
     }

     100% {
          background-position-x: 1000px;
     }
}

@keyframes Rainbow {
     0% {
          filter: hue-rotate(0deg);
     }

     100% {
          filter: hue-rotate(360deg);
     }
}

.loaded-bar {
     width: 100%;
     background: black;
     position: fixed;
     transition: all 1s;
     z-index: 10000;
}

.loaded-bar[slided] {
     width: 0%;
     background: red;
     animation: Rainbow 1s linear;
}

.normal-button {
     border-radius: 20px;
     font-weight: 900;
     background: var(--main-bg-color);
     border: 2px solid var(--border-color);
     margin-block: 2%;
     cursor: context-menu;
}

.blackscreen-next-page {
     position: fixed;
     width: 100%;
     height: 100%;
     background: linear-gradient(90deg, transparent, transparent, black, black);
     background-size: 300% 100%;
     transition: background-position 0.5s;
     z-index: 10000;
}

[blur-bg] {
     backdrop-filter: blur(20px);
}

#head-master {
     width: 100%;
     height: 7%;
     min-height: 50px;
     z-index: 10;
     display: flex;
     position: fixed;
}

.sub-master {
     height: 85%;
     display: flex;
     align-items: center;
     margin: 0.5%;
     position: relative;
}

#master-left,
#master-right {
     width: 20%;
}

#master-left {
     justify-content: flex-start;
}

#master-right {
     justify-content: flex-end;
}

#master-center {
     width: 60%;
     justify-content: space-evenly;
}

#master-center[show-horizontal] {
     margin-block: 0.4%;
}

[enable-animation] #master-center[show-horizontal] {
     backdrop-filter: blur(20px);
}

#master-center[show-vertical] {
     animation: Rainbow 5s infinite linear;
}

#master-center-container {
     background: var(--bg-color-transparent);
     border-radius: 20px;
     border: 2px solid var(--border-color);
     overflow: hidden;
     width: 100%;
     height: 100%;
     display: flex;
     flex-direction: row;
}

[enable-animation] #master-center-container {
     animation: Rainbow 5s infinite linear;
}

[enable-animation] [rainbow-filter] {
     animation: Rainbow 5s infinite linear;
}

[Line] {
     height: 100%;
     width: 1px;
     background: gray;
}

[enable-animation] #master-center-container>div:not([Line]) {
     transition: all 0.2s;
}

#master-center-container>div:not([Line]) {
     width: 25%;
     height: 100%;
     font-weight: 500;
     color: var(--text-color);
}

#master-center-container>div:not([Line]):hover {
     color: var(--bg-color);
     background-color: var(--text-color);
     font-weight: 600;
}

.top-button {
     width: auto;
     height: 80%;
     background: var(--bg-color-transparent);
     backdrop-filter: blur(20px);
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 1%;
}

[button-selected] {
     background: var(--button-select);
}

[animation-skew-y] {
     transform: perspective(100px) rotateX(0deg);
     transition: 1s all ease-out;
}

:not([loaded])[enable-animation] [animation-skew-y] {
     transform: perspective(100px) rotateX(10deg);
}

[animation-zoom-out] {
     transition: 2s all;
}

:not([loaded])[enable-animation] [animation-zoom-out] {
     transform: scale(2);
     opacity: 0;
}

[animation-fade] {
     transition: 2s all;
}

:not([loaded])[enable-animation] [animation-fade] {
     opacity: 0;
}

/* -------------------------------------------------------*/

@keyframes slide-from-right {
     100% {
          transform: translateX(0px);
          opacity: 1;
     }
}

[enable-animation] [animation-slide-from-right] {
     transform: translateX(20px);
     opacity: 0;
}

[loaded][enable-animation] [animation-slide-from-right] {
     animation: slide-from-right 0.5s forwards;
}

/* -------------------------------------------------------*/

@keyframes slide-from-bottom {
     100% {
          transform: translateY(0px);
          opacity: 1;
     }
}

[enable-animation] [animation-slide-from-bottom] {
     transform: translateY(20px);
     opacity: 0;
}

[loaded][enable-animation] [animation-slide-from-bottom] {
     animation: slide-from-bottom 0.5s forwards;
}

/* -------------------------------------------------------*/

[enable-animation] .rainbow-element {
     color: var(--rainbow-color) !important;
     border-color: var(--rainbow-color) !important;
}

@keyframes blackscreen {
     0% {
          background-position: 0% 0%
     }

     100% {
          background-position: 100% 100%
     }
}

/* -------------------------------------------------------*/

@media (min-width: 500px) {
     [text-x] {
          font-size: 5em;
     }

     [text-m] {
          font-size: 1.3em;
     }

     [text-l] {
          font-size: 2em;
     }
}

@media (max-width: 500px) {
     [text-x] {
          font-size: 3em;
     }

     [text-m] {
          font-size: 1em;
     }

     [text-l] {
          font-size: 1.5em;
     }
}

/* -------------------------------------------------------*/

@media screen and (orientation:landscape) {
     [show-vertical] {
          display: none;
     }
}

@media screen and (orientation:portrait) {
     #master-center {
          width: 15%;
     }

     [show-horizontal] {
          display: none;
     }

     #master-left {
          width: 92.5%;
     }

     #master-right {
          width: 92.5%;
     }
}