@media screen and (orientation:portrait) {
     #master-center[show-horizontal] {
          display: block;
          position: absolute;
          top: 80%;
          width: 90%;
          left: 5%;
          height: 90%;
          animation: none !important;
          transition: 0.3s all;
     }

     #master-center[show-horizontal][show] {
          opacity: 1 !important;
     }

     #master-center[show-horizontal]:not([show]) {
          opacity: 0 !important;
          margin-top: 3%;
     }
}

#content {
     width: 100%;
     height: 90%;
     bottom: 0;
     position: fixed;
     max-height: calc(95% - 50px);
     display: flex;
     flex-direction: row;
}

/* --------------------------------------- */

@media screen and (orientation:portrait) {
     .problem-detail {
          width: 0%;
     }

     .problem-container {
          width: 100%;
          margin: 1%;
     }

     .problem-container .problem * {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
     }
}

@media screen and (orientation:landscape) {
     .problem-detail {
          width: 30%;
          margin: 1%;
          margin-left: 0px;
     }

     .problem-container {
          width: 70%;
          margin: 1%;
          margin-top: 0px;
     }
}

.problem-detail {
     background: var(--bg-color-transparent);
     margin-top: 0px;
     border-radius: 20px;
     backdrop-filter: blur(20px);
}

.problem-container {
     display: flex;
     flex-direction: column;
     max-height: calc(100% - 1%);
     backdrop-filter: blur(20px);
     background: var(--bg-color-transparent);
     overflow: hidden;
     border-radius: 30px;
}

.problem-list {
     overflow-y: auto;
     border-radius: 0px 0px 30px 30px;
}

[enable-animation] .problem-container {}

#problem-header {
     margin-block: 0;
     margin-right: 20px;
     box-shadow: rgba(0, 0, 0, 0.411) 0px 5px 5px;
     background: var(--bg-color-transparent);
}

.problem {
     display: flex;
     align-items: center;
     justify-content: space-evenly;
     flex-direction: row;
     min-height: 60px;
     margin-block: 5px;
     margin-inline: 10px;
     border-radius: 20px;
     transition: 0.2s all;
     box-shadow: var(--text-color) 0px 0px 2px;
     border: 2px transparent solid;
}

.problem-list .problem:hover {
     box-shadow: transparent 0px 0px 0px;
     background: var(--bg-color-transparent);
     transform: scale(1.01);
     border: 2px gold solid;
}

.problem>div {
     width: 25%;
}

.problem * {
     font-weight: 600;
}

html:not([enable-light]) .problem [problem-author] {
     color: rgb(255, 215, 85);
}

[enable-light] .problem [problem-author] {
     color: rgb(143, 126, 31);
}

/* --------------------------------------- */