@media screen and (orientation:portrait) {
     #master-center[show-horizontal] {
          display: block;
          position: absolute;
          top: 80%;
          width: 90%;
          left: 5%;
          height: 90%;
          animation: none !important;
          transition: 0.3s all;
     }

     #master-center[show-horizontal][show] {
          opacity: 1 !important;
     }

     #master-center[show-horizontal]:not([show]) {
          opacity: 0 !important;
          margin-top: 3%;
     }
}